---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Allow: /

# Block admin or private paths if any are added later
Disallow: /admin/

# Sitemap location
Sitemap: https://theglobal-edit.com/sitemap.xml
